p { 
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2 { 
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body { 
    background-color:rgb(186, 211, 221);
}

.text {
    color:rgb(64, 64, 64);

}